numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
scipy
tensorflow
keras
keras-tuner
yfinance
pandas_datareader
ipython
dash
dash-core-components
dash-html-components
jupyterlab
beautifulsoup4
requests
